#profiles {
  flex-wrap: wrap;
  gap: 12em;
}

.profile {
  text-align: center;
}

.profile-pic {
  width: clamp(290px, 20vw, 30vw);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 1px solid var(--shadow);
  box-shadow: 0 0 12px var(--shadow);
  margin: 12px;
}

#about {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 64px 24px;
  max-width: 100ch;
}
