:root {
  --bg-base: hsl(0 0% 95%);
  --bg-mantle: hsl(0 0% 80%);
  --bg-crust: hsl(0 0% 85%);
  --shadow: hsl(0 0% 5%);
  --titles: hsl(0 0% 0%);
  --text: hsl(0 0% 25%);
  --text-muted: hsl(0 0% 35%);
  --primary: hsl(200 40% 40%);
  --secondary: hsl(350 45% 55%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 32%);
}

/* 
EB Garamond: 400-800
Fira Sans: 100-900
Permanent Marker: 400
*/

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-base);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--titles);
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 88px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em;
}

button {
  font-family: "EB Garamond", serif;
  font-variant: small-caps;
  font-size: 26px;
  border: 1px solid var(--bg-mantle);
  border-radius: 2px;
  box-shadow: 4px 4px 0px var(--primary);
  padding: 12px 32px;
  background-color: var(--bg-crust);
}

button:hover {
  box-shadow: 4px 4px 0px var(--secondary);
  color: var(--titles);
}

#content {
  min-height: 90vh;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 25px;
  width: auto;
  margin: 4px 1em;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  font-size: 14px;
  text-align: center;
  padding: 48px 24px;
  border-top: 2px solid var(--bg-mantle);
}

#license,
#credit,
#socials {
  grid-row: 1;
}

#license {
  grid-column: 1;
}

#credit {
  grid-column: 2;
}

#socials {
  grid-column: 3;
}

@media screen and (max-width: 500px) {
  footer {
    grid-template-columns: 1fr;
  }
  #license,
  #credit,
  #socials {
    grid-column: 1;
  }
  #credit {
    grid-row: 1;
  }
  #socials {
    grid-row: 2;
  }
  #license {
    grid-row: 3;
  }
}
